:root {
    --primary-bg-color: #1f1e1f;
    --secondary-bg-color: #ffffff;
    --text-color-one: #ffffff;
    --text-color-two: #f6f6f7;
    --accent-color: #ebecec;
    --footer-bg-color: #1f1e1f;
    --footer-text-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  
}

header {
    width: 100%;
    height: 10vh;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin-left: 10px;
    font-size: 24px;
    padding: 5px;
    color: #ffffff;
}

header ul {
    margin-right: 20px;
    display: flex;
}

header li {
    padding: 5px;
    margin: 0 10px;
}

header a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

main {
    width: 100%;
    height: 100%;
    min-height: 85vh;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrinho-section, .informacoes-section {
    width: 45%;
}

.carrinho-lista {
    list-style: none;
    padding: 0;
}

.carrinho-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
figure{
    width: 120px;
}
figure > img {
    max-width: 100%;
    height: auto;
}

.informacoes-section {
    text-align: center;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    height: 5vh;
    width: 100%;
    bottom: 0;
}