:root {
    --primary-bg-color: #1f1e1f;
    --secondary-bg-color: #ffffff;
    --text-color-one: #ffffff;
    --text-color-two: #f6f6f7;
    --accent-color: #ebecec;
    --footer-bg-color: #1f1e1f;
    --footer-text-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  
}

header {
    width: 100%;
    height: 10vh;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin-left: 10px;
    font-size: 24px;
    padding: 5px;
    color: #ffffff;
}

header ul {
    margin-right: 20px;
    display: flex;
}

header li {
    padding: 5px;
    margin: 0 10px;
}

header a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

main {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    box-sizing: border-box;
}
/*section painel*/
.section-painel {
    position: relative;
    background-color: var(--accent-color);
    overflow: hidden;
    width: 100%;
    height: 50vh;
}

.section-painel::after,
.section-painel::before {
    content: "";  /* Adiciona um conteúdo vazio */
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid var(--footer-bg-color);
}

.section-painel::after {
    left: 0;
    top: 0;
    transform: rotate(-45deg);
}

.section-painel::before {
    right: 0;
    top: 0;
    transform: rotate(45deg);
}
.section-painel > h2{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: var(--primary-bg-color);
}
.section-painel > figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section-painel > figure > img{
    object-fit: cover;
    background-size: cover;
    height: 100%;
}
/*section painel*/
/*section list carrousel*/
.section-list-carrousel{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
    height: calc(50vh - 10px);
    border-bottom: 2px solid var(--text-color-two);

}
.section-list-carrousel > ul{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

}
.section-list-carrousel > ul > li:not(.active) {
    display: none;
}
.section-list-carrousel > ul > li{
    border-radius: 20px;
    width: 350px;
    height: 350px;
    border: 2px solid var(--primary-bg-color);
 }
 .forward-button{
    transform: rotate(90deg);
 }
 .back-button{
    transform: rotate(-90deg);
 }
.forward-button,.back-button{
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid var(--footer-bg-color);
  
 }
 /*section list carrousel*/
 /*section list*/
.section-list{
    width: 100%;
    height: 100%;
    padding: 10px 0;
   
}
.section-list> ul{
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
 }
 .section-list > ul > li{
    margin: 10px;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    border: 2px solid var(--primary-bg-color);
 }
/*section list*/
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}